.lodging-carousel {
  // max-width: 1200px;
  margin-left: "auto";
  margin-right: "auto";
  margin-top: 64;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  flex-shrink: 0;
  flex-grow: 1;

  width: 100%;
  height: 255px;
  border-radius: 10px;

  object-fit: cover;

  @media screen and (min-width: 1024px) {
    height: 415px;
    border-radius: 25px;
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  background-color: white;
  border: 0;
  font-size: 2rem;
  color: white;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 6rem;
  }
}

.left-arrow {
  left: 1rem;
}

.right-arrow {
  right: 1rem;
}

.image-number {
  position: absolute;
  bottom: 24px;
  right: 50%;

  visibility: hidden;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .image-number {
    visibility: visible;
    z-index: 1;

    color: white;
    font-size: 18px;
  }
}
