.featured {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 1rem;
  padding: 2rem;

  // border: 1px solid $clr-background-light;
  border-radius: 0.5rem;

  width: 100%;
  height: 100%;

  &__title {
    font-size: 0.75rem;
    color: white;
    margin-bottom: 0.5rem;
  }

  &__left {
    position: relative;
    z-index: 10;

    width: fit-content;
  }

  &__name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: $clr-secondary;
    text-transform: uppercase;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    max-width: 400px;

    border-radius: 0.5rem;
    background-color: rgba(35, 53, 84, 0.9);

    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;

    max-width: 275px;
    margin-bottom: 0.5rem;

    font-size: 0.75rem;
    text-transform: uppercase;

    .featured__tag {
      padding-right: 0.75rem;
      margin-bottom: 0.25rem;
    }
  }

  &__icons {
    display: flex;
    gap: 0.75rem;

    .featured__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: $clr-secondary;

      &:hover {
        background-color: $clr-text-light;
      }
    }
  }

  &__image-container {
    max-width: 360px;
    max-height: 200px;
    position: absolute;
    top: 1.5rem;
    left: 45%;
    border-radius: 0.5rem;
    overflow: hidden;

    .featured__image-box {
      position: relative;
      width: 360px;
      height: 200px;
      visibility: hidden;

      &:hover {
        opacity: 1;
        z-index: 11;
      }
    }

    .featured__image {
      border-radius: 0.5rem;
      object-position: top left;
    }
  }
}

@media screen and (min-width: 640px) {
  .featured__image-container {
    background-color: $clr-secondary;

    .featured__image-box {
      opacity: 0.5;
      visibility: visible;
    }
  }
}
