@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=arya&family=Zilla+Slab&display=swap");

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  max-width: 768px;
  background: $clr-background;

  margin: 0 auto;

  font-family: "Arya", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: $clr-text;
}

a {
  text-decoration: none;
  color: $clr-text;
}

li {
  list-style: none;
}

h1 {
  font-family: "Zilla Slab", serif;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  color: $clr-text;
}

h1,
p {
  margin: 0;
  padding: 0;
}
