@import "./variables.scss";

.slider {
  position: relative;

  width: 100%;
  height: 100%;

  a:hover {
    opacity: 0.85;
  }
}

.slide {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;

  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 4rem;
  color: $clr-secondary;

  z-index: 1;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.7;
}

.arrow.right {
  right: 0;
}

.arrow.left {
  left: 0;
}

.slide__text {
  position: absolute;
  bottom: 0;

  padding: 0.5rem 0;
  width: 100%;

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: $clr-secondary;

  text-align: center;
}

.slide__text h2 {
  color: $clr-background;
  font-size: 1.5rem;
}

@media screen and (min-width: 640px) {
  .arrow {
    width: 3rem;
    height: 6rem;
  }

  .slide__text {
    font-size: 2rem;
  }
}
