---
import Layout from "../layouts/Layout.astro";

const allProjects = await Astro.glob("../pages/projects/*");

// Sort projects by last updated date
allProjects.sort((a, b) =>
  a.frontmatter.lastUpdated > b.frontmatter.lastUpdated
    ? -1
    : b.frontmatter.lastUpdated > a.frontmatter.lastUpdated
    ? 1
    : 0
);

const icon = await import("../assets/icons/project.svg");
---

<Layout>
  <section class="">
    <h2 class="title">Les projets</h2>

    <div class="projects-grid">
      {
        allProjects.map((project) => (
          <a href={project.url}>
            <article class="card-container">
              <div
                class="card"
                style={{
                  backgroundImage: `url(/images/projects/${project.frontmatter.image}.webp)`,
                }}
              >
                <h2>{project.frontmatter.title}</h2>
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  section {
    margin: 4rem 0;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.25rem;

    margin: 4rem 0;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    // max-width: 300px;
    width: 100%;
    height: 175px;

    cursor: pointer;

    @include shadow;

    &:hover {
      .card {
        opacity: 0.8;
      }
    }

    .card {
      position: relative;

      width: 100%;
      height: 100%;

      border-radius: 0.5rem;
      background-position: center;
      background-size: cover;

      h2 {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 60%;
        // padding-left: 3rem;
        padding-right: 0.5rem;

        font-size: 1.5rem;
        text-align: right;
        color: $clr-background;
        background-color: $clr-secondary;
        opacity: 0.9;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
</style>
