---
import ImageSlider from "../components/ImageSlider";
import slides from "../data/projects";
---

<section class="slider-container">
  <ImageSlider client:load slides={slides} />
</section>

<style lang="scss">
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 600px;

    height: 300px;

    // margin: 0 auto;

    background-color: #f5f5f5;
  }
</style>
