---
import ImageSlider from "../components/ImageSlider";
import slides from "../data/projects";
---

<section class="slider-container">
  <ImageSlider client:load slides={slides} />
</section>

<style lang="scss">
  .slider-container {
    width: 500px;
    height: 250px;
    margin: 0 auto;
  }
</style>
