---
import Experience from "./Experience.card.astro";
import data from "../data/experience";
---

<section class="experience">
  <h2 class="title">Expérience</h2>

  <div class="projects-grid">
    {data.map((job) => <Experience job={job} />)}
  </div>
</section>

<style lang="scss">
  .experience {
    margin: 4rem 0;
  }
</style>
