---
import logo from "../assets/favicon-32x32.png";
---

<header class="mx-4 my-2">
  <div class="container flex justify-between items-center">
    <div class="flex justify-between items-center">
      <a href="/">
        <img src={logo} alt="Eri Schön" class="w-5" />
      </a>
      <span class="font-semibold ml-2">Eri Schön</span>
    </div>

    <nav>
      <ul class="flex items-center gap-4">
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
