---
import logo from "../assets/favicon-32x32.png";
import NavbarMenu from "./NavbarMenu";
---

<header class="">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo.src} alt="Eri Schön" />
        <span class="">Eri Schön</span>
      </a>
    </div>

    <NavbarMenu client:load />
  </div>
</header>

<style lang="scss">
  @import "../styles/variables.scss";

  header {
    margin: 1rem 1rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: flex;
        }

        img {
          width: 1.5rem;
        }

        span {
          margin-left: 0.75rem;

          font-size: 1rem;
          font-weight: 600;
        }
      }

      nav {
        ul {
          display: flex;
          gap: 1rem;

          li {
            a {
              font-size: small;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
</style>
