---
import logo from "../assets/logo-esdev-000-transp-1.png";
---

<header class="header">
  <div class="container flex justify-between items-center">
    <div class="flex justify-between items-center">
      <a href="/">
        <img src={logo} alt="Eri Schön" class="w-7" />
      </a>
      <span class="font-semibold ml-2">Eri Schön</span>
    </div>

    <nav>
      <ul class="flex items-center">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
