---
import Button from "./Button";
---

<section class="hero">
  <p class="intro">Bonjour, je suis <strong>Eri Schön</strong>.</p>
  <h1 class="">
    Je <span>confectionne</span> des applications web sur mesure.
  </h1>
  <p class="subtitle">
    Je suis développeur Back-of-the-Front-end Freelance spécialisé dans la
    confection d'application web <span>fluides</span>, <span>rapides</span> et <span
      >fiables</span
    >.
  </p>

  <Button link="/">Parlons-nous !</Button>
</section>

<style lang="scss">
  @import "../styles/_variables.scss";

  .hero {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;

    text-align: left;

    p {
      font-size: 0.9rem;

      &.intro {
        font-style: italic;
      }
    }

    h1 {
      margin: 1rem 0;

      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    span {
      font-weight: 700;
      color: $clr-secondary;
    }

    @media screen and (min-width: 768px) {
      text-align: start;
      h1 {
        font-size: 2.25rem;
      }
    }
  }
</style>
