---
---

<section class="hero">
  <h1 class="">
    Développeur Frontend spécialisé dans la confection de site et d'application
    web
    <span class="fluide">fluides</span>, <span class="rapide">rapides</span> et <span
      class="fiable">fiables</span
    >.
  </h1>
</section>

<style lang="scss">
  @import "../styles/_variables.scss";

  .hero {
    display: flex;

    margin: 0 auto;
    width: 70%;

    text-align: center;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    h1 {
      span {
        display: inline-block;
        color: $clr-secondary;

        &.fluide {
          animation: skewText ease 9s;
          animation-fill-mode: forwards;
        }
        &.rapide {
          animation: skewText ease 12s;
          animation-fill-mode: forwards;
        }
        &.fiable {
          animation: skewText ease 15s;
          animation-fill-mode: forwards;
        }
      }
    }

    @media screen and (min-width: 768px) {
      text-align: start;
      h1 {
        font-size: 2rem;
      }
    }
  }
</style>
