---
import Project from "./Project.astro";

const response = await fetch("http://localhost:3000/data/projects.json");
const data = await response.json();

console.log(data);
---

<section class="projects">
  <h2 class="">Mes Projets</h2>
  {data.map((project) => <Project project={project} />)}
</section>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    margin: 1rem 0;
    width: 100%;

    // background-color: aquamarine;
  }
</style>
