---
import Project from "./Project.astro";

const response = await fetch("http://localhost:3000/data/projects.json");
const data = await response.json();

console.log(data);
---

<section class="projects">
  <h2 class="">Mes Projets</h2>

  <div class="projects-grid">
    {data.map((project) => <Project project={project} />)}
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    margin: 1rem 0;
    width: 100%;

    &-grid {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      // width: fit-content;
      // margin: 0 auto;
      width: 100%;
    }

    h2 {
      position: relative;

      margin: 1rem 0;

      &:before {
        content: "+";
        margin-right: 0.5rem;
        color: $clr-secondary;
      }

      &:after {
        position: absolute;
        bottom: 45%;
        margin-left: 1rem;
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: $clr-background-light;
      }
    }

    // @media screen and (min-width: 640px) {
    //   &-grid {
    //     justify-content: space-around;
    //   }
    // }
  }
</style>
