---
import ImageSlider from "../components/ImageSlider";
import slides from "../data/projects";
---

<section class="slider-container">
  <ImageSlider client:load slides={slides} />
</section>

<style lang="scss">
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4rem auto;
    max-width: 400px;
    height: 200px;

    @media screen and (min-width: 640px) {
      max-width: 600px;
      height: 300px;
    }
  }
</style>
