---
import ImageSlider from "../components/ImageSlider";

const allProjects = await Astro.glob("../pages/projects/*");
---

<section class="projects">
  <h2 class="title">Mes Projets</h2>

  <div class="slider-container">
    <ImageSlider client:load slides={allProjects} />
  </div>
</section>

<style lang="scss">
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4rem auto;
    max-width: 400px;
    height: 200px;

    @media screen and (min-width: 640px) {
      max-width: 600px;
      height: 300px;
    }
  }
</style>
