---
import Project from "./Project.card.astro";
import data from "../data/projects";
---

<section class="projects">
  <h2 class="title">Mes Projets</h2>

  <div class="projects-grid">
    {data.map((project) => <Project project={project} />)}
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .projects {
    margin: 2rem 0;
    width: 100%;

    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    @media screen and (min-width: 640px) {
      &-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
</style>
