---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <img src={frontmatter.image.url} alt={frontmatter.title} />
  <h1>{frontmatter.title}</h1>

  <slot />
</Layout>

<style lang="scss">
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
</style>
